<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="text-align: left;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: cursive;">{{ title }}
  </h1>
</div>
<div style="margin-top: 2%" *ngIf="!noData">
<input type="checkbox" name="vehicle3" value="true" ng-change="Differences('value')">Show Only Differences<br>
<button (click)='populate()'>hello</button>
  <table>
    <tr>
      
    </tr>
  </table>
</div>

